@model Sis_Empleados.Models.Tipo_Deducciones

<h2>Editar deducción</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id_TipoDeducciones" />

    <div class="mb-3">
        <label>Nombre de la deducción</label>
        <input asp-for="Nombre_Deduccion" class="form-control" />
        <span asp-validation-for="Nombre_Deduccion" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
