@model IEnumerable<Sis_Empleados.Models.Tipo_Deducciones>

<h2>Tipos de Deducciones</h2>

<a asp-action="Create" class="btn btn-primary mb-3">+ Nuevo tipo</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre de Deducción</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Nombre_Deduccion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@t.Id_TipoDeducciones" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@t.Id_TipoDeducciones" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
