@model IEnumerable<Sis_Empleados.Models.Detalle_Deduccion>

<h2>Detalles de Deducciones</h2>

<a asp-action="Create" class="btn btn-primary mb-3">+ Nuevo detalle</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Tipo de Deducción</th>
            <th>Valor (Porcentaje o monto)</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.TipoDeduccion.Nombre_Deduccion</td>
                <td>@d.Deduccion </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@d.Id_DetalleDeduccion"
                       class="btn btn-warning btn-sm">Editar</a>

                    <a asp-action="Delete"
                       asp-route-id="@d.Id_DetalleDeduccion"
                       class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

