@model Sis_Empleados.Models.Rol

@{
    ViewData["Title"] = "Nuevo Rol";
}

<div class="container mt-4">

    <div class="card shadow border-0" style="max-width: 500px; margin: auto;">
        <div class="card-body">

            <h3 class="fw-bold text-primary mb-3">Crear Nuevo Rol</h3>

            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label fw-semibold">Nombre del Rol</label>
                    <input asp-for="Nombre_Rol" class="form-control" />
                    <span asp-validation-for="Nombre_Rol" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-save"></i> Guardar
                </button>

                <a asp-action="Index" class="btn btn-secondary w-100 mt-2">
                    <i class="bi bi-arrow-left"></i> Regresar
                </a>
            </form>

        </div>
    </div>

</div>
